#slider {
	margin-top: 5px;
	margin-bottom: 20px;
}

.slider {
	width: 30%;
	display: inline-block;
}

.isView {
	opacity: 0.6;
}

.spaceSliders {
	margin-left: 50px;
}

.background {
  z-index:-1;
  position:relative;
}

.root {
	display: 'flex';
	flex-wrap: 'wrap';
	justify-content: 'space-around';
}

.loader {
	height: calc(100vh - 56px);
}

.btn-oauth {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
	width: 33.333333333%;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
	font-family: Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.fb {
	border: 2px solid #3B5998;
	background-color : #3B5998;
}

.google {
    border: 2px solid #D14836;
	background-color : #D14836;
}

.q42 {
	border: 2px solid #00BABC;
	background-color : #00BABC;
}
