.MovieContainer {
  width: 100%;
  background: linear-gradient(-90deg, rgba(224, 224, 224, 1), rgba(58, 46, 46, 1));
  min-height: calc(100vh - 56px);
}
.MovieContainerColumn {
  display: flex;
  position: relative;
}
.MovieMainColumn {
  padding: 15px;
  max-width: 60%;
  min-width: 400px;
}
.MovieSecColumn {
  max-width: 40%;
  padding: 15px;
}
.MovieMedia{
}
.MovieInfo {
  padding: 15px;
}
.MovieInfoElemBlock {
  padding: 0;
  margin: 0;
}
.MovieInfoElem{
  margin-right: 20px;
  display: inline-block;
}
.MovieDisqus {
  width: 100%;
  position: relative;
}
.MovieDisqusEl {
  width: 100%;
}

@media (max-width: 1206px) {
  .MovieContainer {
  width: 100%;
  }
  .MovieMainColumn {
    width: calc(100% - 30px);
    max-width: none;
  }
  .MovieSecColumn {
    width: calc(100% - 30px);
    max-width: none;
  }
}
