.MovieContainer {
  width: 100%;
  min-height: calc(100vh - 56px);
  position: relative;
}
.closeDiv {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.imgDiv {
  width: 100%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
}
.MovieBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: top right no-repeat;
  background-size: cover;
}
.MovieBackground:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.MovieInfoBlock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
}
