.VisitorHeight {
	height: 100vh;
}

.VisitorMarge {
	margin : 10px 20px;
	display : inline-block;
}

.VisitorImg {
	width : 100px;
}

.VisitorHidden {
	display: none;
}

.VisitorCentered {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 150px;
}
