.VisitorHeight {
	height: 100vh;
}

.VisitorMarge {
	margin : 10px 20px;
	display : inline-block;
}

.VisitorImg {
	width : 10%;
}

.VisitorHidden {
	display: none;
}

.VisitorForm {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  width: 5%;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.VisitorCentered {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 150px;
}
